<div *ngIf="movie" class="movie-card">
    <mat-card-header class="movie-card-header">
        <mat-card-title>
            <h1 class="movie-title">{{ movie.title }}</h1>
        </mat-card-title>
    </mat-card-header>
    <img
        mat-card-image
        [src]="movie.imageurl[0]"
        alt="{{ movie.title }}"
        class="movie-image"
    />
    <mat-card-content class="movie-content">
        <p class="movie-rating">Ratings: {{ movie.imdbrating }}</p>
        <button class="movie-details" (click)="isHidden = !isHidden">Ver detalhes</button>
        <ng-container *ngIf="!isHidden">
            <p class="movie-synopsis">Synopsis: {{ movie.synopsis }}</p>
        </ng-container>
    </mat-card-content>
</div>
